.workplace {
    width: 100%;
    @include flex(space-around, flex-start, nowrap);
    padding: 70px 0;
}

.workplace__headline {
    width: 32%;
}

.workplace__content {
    width: 60%;
}

.workplace__office-img1 {
    width: 100%;
}

.workplace__offices-2 {
    @include flex(space-between, flex-start, nowrap);
    margin-top: 20px;
}

.workplace__office-img {
    width: 45%;
    margin-right: 10px;
}

@include mobile {
    .workplace {
        @include flex(center, center, nowrap);
        flex-direction: column;
    }

    .workplace__headline {
        width: 100%;
    }

    .workplace__content {
        width: 100%;
    }

    .workplace__img {
        width: 100%;
    }
}