.contact {
    background-color: $primary-background;
    padding: 5rem;
}

.contact__content {
    @include flex(center, center, nowrap);
    flex-direction: column;
}

.line {
    @include horizontal-line($yellow);
}

.contact__caption {
    font-size: 24px;
    margin-bottom: 1rem;
}


.contact--background {
    background-color: white;
}

@include mobile {
    .contact {
        padding: 2rem;
    }

    .contact__content {
        text-align: center;
    }
}



@include mobile-up {
    .contact {
        padding: 3rem;
    }

    .contact__content {
        text-align: center;
    }

}