.contact {
    background-color: $primary-background;
    padding: 5rem;
}

.contact__content {
    @include flex(center, center, nowrap);
    flex-direction: column;
}

.line {
    @include horizontal-line($yellow);
}

.contact__caption {
    font-size: 24px;
    margin-bottom: 1rem;
}


.contact--background {
    background-color: white;
}

.contact__paragraph {
    width: 45%;
    text-align: center;
}

.contact__info--blue {
    color: $light-blue;
    font-weight: 700;
}


@include mobile {
    .contact {
        padding: 2rem;
    }

    .contact__content {
        text-align: center;
    }

    .contact__paragraph {
        width: 100%;
    }
}


@include mobile-up {
    .contact {
        padding: 3rem;
    }

    .contact__content {
        text-align: center;
    }

}