.form {
    @include flex(center, flex-end, nowrap);
    padding: 130px 0;
}

.form__headline {
    padding: 30px 0;
    text-align: center;
}

.form__group {
    @include flex(center, center, nowrap);
    flex-direction: column;
}

.form__wrapper {
    width: 100%;
}

.form__fields {
    @include flex(center, flex-start, nowrap);
}

.form__image {
    width: 100%;

    img {
        width: 100%;
    }
}

.form__inputs {
    @include flex(center, flex-start, nowrap);
    flex-direction: column;
    width: 100%;
    color: $light-grey;
}

.form__info {
    margin-top: 17px;
}

.form__policy {
    width: 65%;
}

.form__policy-info {
    color: $light-grey;
}

.form__policy-link {
    color: $light-blue;
}


.form__input {
    width: 340px;
    padding: 10px;
    margin: 15px;
    border: solid 1px rgba(151, 151, 151, 0.2);
    border-radius: 13px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.form__input:focus {
    outline: none;
    border: 2px solid $light-blue;
}

.message,
.messageEmail {
    color: red;
    font-size: 14px;
    margin-left: 20px;
}

.form__firstname {
    position: relative;
    top: 28px;
    left: 43px;
    font-size: 14px;
    background: $primary-white;
    color: $light-grey;
}

.form__message {
    width: 340px;
    margin: 19px;
    padding: 10px 0 80px 0;
    border: solid 1px rgba(151, 151, 151, 0.2);
    border-radius: 13px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    resize: none;
}

.form__message:focus {
    outline: none;
    border: 2px solid $light-blue;
}

#cv {
    display: none;
}

.cv {
    background: url('/src/images/upload.svg') no-repeat;
    background-position: 24px;
    width: 340px;
    padding: 10px;
    margin: 15px;
    border: 1px dashed rgba(151, 151, 151, 0.2);
    border-radius: 13px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.cv-label {
    margin-left: 50px;
    font-size: 14px;
    color: $light-grey;
}

@include mobile {
    .form {
        align-items: center;
        flex-direction: column;
    }

    .form__fields {
        flex-direction: column;
    }

    .form__inputs {
        align-items: center;
    }

    .form__input {
        width: 70%;
    }

    .form__info {
        margin-top: 17px;
        text-align: center;
    }

    .cv {
        width: 70%;
    }

    .form__message {
        width: 70%;
    }

    .form__image {
        margin-top: 30px;
        width: 80%;
    }
}

@include mobile-up {
    .form {
        align-items: center;
        flex-direction: column;
    }

    .form__fields {
        flex-direction: column;
    }

    .form__inputs {
        align-items: center;
    }

    .form__info {
        margin-top: 17px;
        text-align: center;
    }

    .form__image {
        margin-top: 30px;
        width: 80%;
    }
}