.header {
    width: 100%;
    height: 100vh;
    background: url(../images/Mask.png) no-repeat;
    background-position: 100% 0;
    background-size: contain;

    .header-content {
        @include flex(space-between, center, wrap);
        padding-top: 2rem;
    }
}

nav {
    @include flex(space-between, center, wrap);
    width: 100%;

    .nav-list {
        @include flex(space-between, center, wrap);
        width: 50%;
        list-style: none;
    }

    .nav-link {
        color: $header-font-color;
        text-decoration: none;
        font-weight: 500;
        cursor: pointer;
    }

    .btn {
        @include button();
        color: $light-blue;
        background: none;
        border: 2px solid $light-blue;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

        &:hover {
            border: 4px solid $light-blue;
        }
    }
}

.logo {
    width: 20%;
}

.toggle,
[id^=drop] {
    display: none;
}

.mobile-nav {
    background-color: $yellow;
    display: none;

    .mobile-nav-logo {
        padding: 1rem;
    }
}

.menu li {
    margin: 0px;
    display: inline-block;
}

.menu .mobile-nav-links {
    display: block;
    padding: 14px 20px;
    color: $black;
    font-size: 17px;
    text-decoration: none;
}


.mobile-nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}


@include mobile {
    .nav {
        display: none;
    }

    .header {
        background: none;
    }

    .mobile-nav {
        display: flex;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 14px 20px;
        cursor: pointer;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    .mobile-nav ul ul {
        float: none;
        position: static;
    }

}

@include mobile-up {
    .header {
        background: none;

        .container,
        .header-content {
            padding: 0;
            justify-content: center;
        }
    }

    .nav {
        display: none;
    }

    .header {
        background: none;
    }

    .mobile-nav {
        display: flex;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 14px 20px;
        cursor: pointer;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    .mobile-nav ul ul {
        float: none;
        position: static;
    }

}

@include tablet {
    .nav {
        display: none;
    }

    .header {
        background: none;
    }

    .mobile-nav {
        display: flex;
    }

    .toggle+a,
    .menu {
        display: none;
    }

    .toggle {
        display: block;
        padding: 14px 20px;
        cursor: pointer;
    }

    [id^=drop]:checked+ul {
        display: block;
    }

    nav ul li {
        display: block;
        width: 100%;
    }

    .mobile-nav ul ul {
        float: none;
        position: static;
    }

}