.partnership {
    background: $primary-background;
    z-index: -99;
    padding-top: 200px;
}

.partnership--skew {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.partnership__wrapper {
    background: url(../images/Group.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.partnership__caption {
    width: 50%;
}

.partnership__info {
    @include flex(space-between, center, nowrap);
    flex-direction: column;
}

.partnership__info-box {
    width: 20%;
}

.partnership__info-caption {
    font-size: 24px;
    margin: 15px 0;
}

.partnership__info-detail {
    background: url('/src/images/path.png') no-repeat;
    background-position: 100px;
}

.partnership__info-detail a {
    text-decoration: none;
    color: $light-blue;
    font-weight: 700;
    font-size: 12px;
}


.partnership__info-box--box1 {
    position: relative;
    top: 150px;
    left: 283px;
}

.partnership__info-box--box2 {
    position: relative;
    right: 192px;
    top: 97px;
}

.partnership__info-box--box3 {
    position: relative;
    left: 320px;
}

.partnership__info-box--box4 {
    position: relative;
    right: 170px;
    bottom: 77px;
}

.partnership__info-detail--read {
    background-position: 85px;
}

@include mobile {

    .partnership--skew {
        clip-path: none;
    }

    .partnership__wrapper {
        background: none;
    }

    .partnership__content {
        text-align: center;
    }

    .partnership__caption {
        width: 100%;
        text-align: center;
    }

    .partnership__info {
        @include flex(center, center, nowrap);
    }

    .partnership__info-box {
        width: 90%;
    }

    .partnership__info-box--box1,
    .partnership__info-box--box2,
    .partnership__info-box--box3,
    .partnership__info-box--box4 {
        position: initial;
        padding: 20px 0;
    }

    .partnership__info-detail {
        background-position: 210px;
    }

    .partnership__info-detail--read {
        background-position: 80px;
    }

}

@include mobile-up {
    .partnership--skew {
        clip-path: none;
    }

    .partnership__wrapper {
        background: none;
    }

    .partnership__content {
        text-align: center;
    }

    .partnership__caption {
        width: 100%;
        text-align: center;
    }

    .partnership__info {
        @include flex(center, center, nowrap);
    }

    .partnership__info-box {
        width: 90%;
    }

    .partnership__info-box--box1,
    .partnership__info-box--box2,
    .partnership__info-box--box3,
    .partnership__info-box--box4 {
        position: initial;
        padding: 25px 0;
    }

    .partnership__info-detail {
        background-position: 210px;
    }

    .partnership__info-detail--read {
        background-position: 80px;
    }

}

@include tablet {
    .partnership--skew {
        clip-path: none;
    }

    .partnership__wrapper {
        background: none;
    }

    .partnership__content {
        text-align: center;
    }

    .partnership__caption {
        width: 100%;
        text-align: center;
    }

    .partnership__info {
        @include flex(center, center, nowrap);
    }

    .partnership__info-box {
        width: 90%;
    }


    .partnership__info-box--box1,
    .partnership__info-box--box2,
    .partnership__info-box--box3,
    .partnership__info-box--box4 {
        position: initial;
        padding: 25px 0;
    }

    .partnership__info-detail {
        background-position: 380px;
    }

    .partnership__info-detail--read {
        background-position: 80px;
    }
}