.services {
    @include flex(space-around, flex-start, wrap);
    margin: 60px auto;
}

.services--background {
    padding-top: 100px;
    background-color: $primary-background;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.services__wrapper {
    width: 30%;
}

.services__pagination {
    @include flex(center, center, nowrap);
    width: 30%;
    margin: 1rem 0;
}

.services--column {
    flex-direction: column;
}

.services__paragraph {
    width: 85%;
}

.services__info {
    @include flex(space-between, center, wrap);
    width: 69%;
    min-height: 900px;
}

.services__info--full-width {
    width: 100%;
}

.services-container {
    @include flex(center, center, nowrap);
}

.service__item {
    width: 45%;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    &:nth-child(even) {
        align-self: flex-end;
    }

    &:nth-child(odd) {
        align-self: flex-start;
    }
}

.service__item--small {
    width: 30%;
    text-align: center;

    &:nth-child(even) {
        align-self: initial;
    }

    &:nth-child(odd) {
        align-self: initial;
    }
}

.service__item--small {
    &:nth-child(1) {
        align-self: flex-start;
    }

    &:nth-child(3) {
        align-self: flex-end;
    }

    &:nth-child(4) {
        align-self: flex-start;
    }

    &:nth-child(6) {
        align-self: flex-end;
    }
}

.service__item--opposite {
    &:nth-child(odd) {
        align-self: flex-end;
    }

    &:nth-child(even) {
        align-self: flex-start;
    }
}

.service__transparent-caption {
    font-size: 50px;
    margin-left: -30px;
    padding-bottom: 15px;
    opacity: 0.5;
    color: $transparent-headline;
}

.service__readmore {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $light-blue;
}

.service__readmore-wrapper {
    text-align: right;
}

.service__item--salesforce {
    width: 37%;
}

.service__single-box {
    padding: 10px 0;
    text-align: justify;
}

.service__single-box--align {
    text-align: justify;
}

.service__position {
    color: $black;
    font-size: 10px;
}

.services--columns {
    @include flex(center, flex-start, wrap);
    flex-direction: column;
}

.services__wrapper--columns {
    width: 100%;
    @include flex(center, baseline, nowrap);
}

.services__info--large {
    width: 90%;
    margin-top: 20px;
}

.service__headline-wrapper {
    width: 100%;
    margin-right: 30px;
}

.service__headline-wrapper {
    width: 100%;
}

.special {
    background: $light-blue;
}

.line--blue {
    @include horizontal-line($light-blue);
}

.service__position--special {
    color: $primary-white;
}

.services__line {
    width: 311px;
    height: 2px;
    border: solid 1px rgba(151, 151, 151, 0.2);
}

.services__pagination {
    font-size: 20px;
    font-weight: 700;
    color: rgba(151, 151, 151, 0.2);
    width: 9%;
}

.services__offer-wrap {
    @include flex(center, center, nowrap);
    width: 100%;
}

.services__wrapper--aligned {
    width: 35%;
    text-align: justify;
}

.services__wrapper--top {
    position: relative;
    top: 170px;
}

.service__item--position {
    &:nth-child(even) {
        align-self: initial;
    }

    &:nth-child(odd) {
        align-self: initial;
    }
}

.service__item--position {
    width: 45%;

    &:nth-child(even) {
        align-self: flex-start;
    }

    &:nth-child(odd) {
        align-self: flex-end;
    }
}

.service__single-box--aligned {
    text-align: justify;
}

.service__technologies {
    color: $light-blue;
    font-size: 14px;
}

.service__item--open-position {
    background-color: $light-blue;
}

.service__job--open,
.service__job-headline--open {
    color: $primary-white;
}

.service__technologies--color {
    color: $skyblue;
}

.service__single-box--color {
    color: $primary-white;
}

.service__link-wrapper {
    background: url('/src/images/path.png') no-repeat;
    background-position: 55px;
}

.service__link {
    color: $light-blue;
    text-decoration: none;
}

.service__link--special {
    color: $skyblue;
}

.service__link-wrapper--bkg {
    background: url('/src/images/Path-lightblue.png') no-repeat;
    background-position: 55px;
}


@include mobile {
    .services {
        @include flex(center, center, nowrap);
        flex-direction: column;
    }

    .services__headline {
        width: 90%;
        text-align: center;
    }

    .services--background {
        clip-path: none;
    }

    .services__paragraph {
        width: 100%;
    }

    .services__wrapper {
        width: 90%;
        text-align: center;
    }

    .services__info {
        @include flex(center, center, wrap);
        flex-direction: column;
        width: 100%;
        padding-top: 25px;
    }

    .service__item {
        width: 90%;

        &:nth-child(even),
        &:nth-child(odd) {
            align-self: center;
        }
    }

    .services__wrapper--columns {
        width: 90%;
        flex-direction: column;
    }

    .services-container {
        flex-direction: column;
    }

    .services__wrapper--top {
        top: 0;
        margin-bottom: 30px;
    }
}


@include mobile-up {
    .services {
        @include flex(center, center, nowrap);
        flex-direction: column;
    }

    .services__headline {
        width: 90%;
        text-align: center;
    }

    .services__paragraph {
        width: 100%;
    }

    .services__info {
        @include flex(center, center, wrap);
        flex-direction: column;
        width: 100%;
        padding-top: 30px;
    }

    .service__item {
        width: 50%;

        &:nth-child(even),
        &:nth-child(odd) {
            align-self: center;
        }
    }
}

@include tablet {

    .service__item {
        width: 48%;
    }
}