.services {
    @include flex(space-around, flex-start, wrap);
    margin: 4rem auto;
}

.services--background {
    padding-top: 13rem;
    background-color: $primary-background;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.services__wrapper {
    width: 30%;
}

.services__pagination {
    @include flex(center, center, nowrap);
    width: 30%;
    margin: 1rem 0;
}

.services__paragraph {
    width: 85%;
}

.services__info {
    @include flex(space-between, center, wrap);
    width: 69%;
    min-height: 900px;
}

.services__info--full-width {
    width: 100%;
}

.service__item {
    width: 42%;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    &:nth-child(even) {
        align-self: flex-end;
    }

    &:nth-child(odd) {
        align-self: flex-start;
    }
}

.service__item--small {
    width: 30%;
    text-align: center;

    &:nth-child(even) {
        align-self: initial;
    }

    &:nth-child(odd) {
        align-self: initial;
    }
}

.service__item--small {
    &:nth-child(1) {
        align-self: flex-start;
    }

    &:nth-child(3) {
        align-self: flex-end;
    }

    &:nth-child(4) {
        align-self: flex-start;
    }

    &:nth-child(6) {
        align-self: flex-end;
    }
}

.service__item--opposite {
    &:nth-child(odd) {
        align-self: flex-end;
    }

    &:nth-child(even) {
        align-self: flex-start;
    }
}

.service__transparent-caption {
    font-size: 50px;
    margin-left: -2rem;
    padding-bottom: 1rem;
    opacity: 0.5;
    color: $transparent-headline;
}

.service__readmore {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $light-blue;
}

.service__readmore-wrapper {
    text-align: right;
}


.service__single-box {
    padding: 0.5rem 0;
    text-align: center;
}

.service__single-box--align {
    text-align: justify;
}

.service__position {
    color: $black;
    font-size: 10px;
}

.services--columns {
    @include flex(center, flex-start, wrap);
    flex-direction: column;
}

.services__wrapper--columns {
    width: 70%;
    @include flex(center, baseline, nowrap);
}

.services__info--large {
    width: 80%;
    margin-top: 2rem;
}

.service__headline-wrapper {
    width: 100%;
    margin-right: 5rem;
}

.service__headline-wrapper {
    width: 100%;
}

.special {
    background: $light-blue;
}

.service__position--special {
    color: $primary-white;
}



@include mobile {
    .services {
        @include flex(center, center, nowrap);
        flex-direction: column;
    }

    .services__headline {
        width: 90%;
        text-align: center;
    }

    .services__paragraph {
        width: 100%;
    }

    .services__wrapper {
        width: 90%;
        text-align: center;
    }

    .services__info {
        @include flex(center, center, wrap);
        flex-direction: column;
        width: 100%;
        padding-top: 2rem;
    }

    .service__item {
        width: 90%;

        &:nth-child(even),
        &:nth-child(odd) {
            align-self: center;
        }
    }

    .services__wrapper--columns {
        width: 90%;
        flex-direction: column;
    }
}


@include mobile-up {
    .services {
        @include flex(center, center, nowrap);
        flex-direction: column;
    }

    .services__headline {
        width: 90%;
        text-align: center;
    }

    .services__paragraph {
        width: 100%;
    }

    .services__info {
        @include flex(center, center, wrap);
        flex-direction: column;
        width: 100%;
        padding-top: 2rem;
    }

    .service__item {
        width: 50%;

        &:nth-child(even),
        &:nth-child(odd) {
            align-self: center;
        }
    }
}


@include tablet {

    .service__item {
        width: 48%;
    }
}