.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $yellow;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 7rem;


    .sidenav-wrapper {
        @include flex(space-around, flex-start, nowrap);
        flex-direction: column;
        width: 371px;
        height: 531px;
        margin: 0 auto;
        padding: 1rem;
    }
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 4rem;
    text-decoration: none;
}

.sidenav-headline {
    font-size: 18px;
}


.side-list {
    list-style: none;
    margin: 1rem 0;
    border-left: solid 1px $service-nav;
    padding: 0 1rem;

    .side-item {
        padding: 0.3rem 0;
    }
}

.side-links {
    text-decoration: none;
    color: $service-nav;
}

#side-current {
    color: $light-blue;
}