.about {
    @include flex(space-around, center, nowrap);
    width: 100%;
    min-height: 600px;
    position: relative;
}

.about__person {
    font-weight: bold;
}

.about__social {
    font-size: 12px;
    color: $light-blue;
    font-weight: 700;
}

.about__caption {
    width: 30%;
}

.about__slider {
    width: 60%;
    background-image: url(../images/rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 207px;
    text-align: center;
}

.about__select {
    width: 350px;
    height: 20px;
    color: $light-grey;
    border: none;
    border-bottom: 2px solid $light-grey;
    outline: none;
}

.about__select:focus,
.about__select:hover {
    border-bottom: 2px solid $light-blue;
}

.about__select option:hover {
    background-color: $light-blue;
}

.about__slider_item {
    width: 85% !important;
    height: 310px;
    border-radius: 6px;
    background-color: $primary-white;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.about__slider_item--large {
    height: 355px;
}

.about__slider-img--large {
    width: 100%;
    object-fit: fill;
}


.about__slider-content {
    @include flex(flex-start, end, nowrap);
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
}

.about__slider-content--small {
    padding: 0;
    align-items: center;
}


.slick-slide {
    margin: 0 5px;
}

.next {
    bottom: 222px;
    position: absolute;
    left: 126px;
    cursor: pointer;
}

.prev {
    position: relative;
    right: 251px;
    bottom: 66px;
    cursor: pointer;
}

.prev[aria-disabled=false] {
    content: url('../images/next-reverse.svg');
}

.next.slick-disabled {
    content: url('../images/previous-revrese.svg');
}

@include mobile {
    .about {
        @include flex(center, center, nowrap);
        flex-direction: column;
        width: 100%;
        min-height: 873px;
    }

    .about__caption {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }


    .about__slider {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .about__select {
        width: 80%;
    }

    .next {
        bottom: 285px;
        left: 186px;
    }

    .prev {
        right: 51px;
        bottom: 38px;
    }
}

@include mobile-up {
    .about {
        @include flex(center, center, nowrap);
        flex-direction: column;
        width: 100%;
        min-height: 873px;
    }

    .about__caption {
        text-align: center;
        width: 100%;
        margin-bottom: 35px;
    }


    .about__slider {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .about__slider_item {
        width: 55% !important;
    }

    .next {
        bottom: 285px;
        left: 341px;
    }

    .prev {
        right: 90px;
        bottom: 38px;
    }
}

@include tablet {
    .next {
        bottom: 222px;
        left: 250px;
    }

    .prev {
        right: 89px;
        bottom: 66px;
    }
}