@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header {
  width: 100%;
  min-height: 100vh;
  background: url("/src/images/Mask.png") no-repeat;
  background-position: 100% 0;
  background-size: contain; }

.header--background {
  background: url("/src/images/mask2.png") no-repeat;
  background-size: contain; }

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px; }

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  list-style: none; }

.header__nav-link {
  color: #333334;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer; }

.btn {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 29px;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: #329595;
  background: none;
  border: 2px solid #329595;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); }
  .btn:hover {
    border: 4px solid #329595; }

.logo {
  width: 20%; }

.toggle,
[id^=drop] {
  display: none; }

.mobile-nav {
  background-color: #fec108;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  display: none; }
  .mobile-nav .mobile-nav-logo {
    padding: 15px; }

.menu li {
  margin: 0;
  display: inline-block; }

.menu .mobile-nav-links {
  display: block;
  padding: 14px 20px;
  color: #323231;
  font-size: 17px;
  text-decoration: none; }

.mobile-service-list {
  padding: 10px 0; }

.mobile-service-links {
  color: #707070;
  text-decoration: none;
  font-size: 14px;
  padding-left: 50px; }

.mobile-nav ul ul {
  display: none;
  position: absolute;
  top: 60px; }

@media (max-width: 576px) {
  .header {
    background: none; }
  .header__nav {
    display: none; }
  .mobile-nav {
    display: flex; }
  .toggle + a,
  .menu {
    display: none; }
  .toggle {
    display: block;
    padding: 14px 20px;
    cursor: pointer; }
  [id^=drop]:checked + ul {
    display: block; }
  nav ul li {
    display: block;
    width: 100%; }
  .mobile-nav ul ul {
    float: none;
    position: static; } }

@media (min-width: 576px) and (max-width: 720px) {
  .header {
    background: none; }
  .container,
  .header__content {
    padding: 0;
    justify-content: center; }
  .header__nav {
    display: none; }
  .header {
    background: none; }
  .mobile-nav {
    display: flex; }
  .toggle + a,
  .menu {
    display: none; }
  .toggle {
    display: block;
    padding: 14px 20px;
    cursor: pointer; }
  [id^=drop]:checked + ul {
    display: block; }
  nav ul li {
    display: block;
    width: 100%; }
  .mobile-nav ul ul {
    float: none;
    position: static; } }

@media (min-width: 720px) and (max-width: 968px) {
  .header {
    background: none; }
  .header__nav {
    display: none; }
  .mobile-nav {
    display: flex; }
  .toggle + a,
  .menu {
    display: none; }
  .toggle {
    display: block;
    padding: 14px 20px;
    cursor: pointer; }
  [id^=drop]:checked + ul {
    display: block; }
  nav ul li {
    display: block;
    width: 100%; }
  .mobile-nav ul ul {
    float: none;
    position: static; } }

footer {
  background-color: #fec108;
  padding: 30px; }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  footer .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 55%;
    font-size: 12px; }
    footer .social-links .social-info {
      width: 39%;
      text-align: right;
      padding-right: 10px;
      border-right: solid 1px #f8ad00; }

@media (max-width: 576px) {
  footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; }
  footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; }
    footer .social-links .social-info {
      padding: 1rem 0;
      border-right: none;
      width: 100%;
      text-align: center; }
    footer .social-links span {
      padding: 15px 0; } }

@media (min-width: 576px) and (max-width: 720px) {
  footer .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column; }
  footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; }
    footer .social-links .social-info {
      padding: 1rem 0;
      border-right: none;
      width: 100%;
      text-align: center; }
    footer .social-links span {
      padding: 15px 0; } }

.services {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 60px auto; }

.services--background {
  padding-top: 100px;
  background-color: rgba(216, 216, 216, 0.2);
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%); }

.services__wrapper {
  width: 30%; }

.services__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 30%;
  margin: 1rem 0; }

.services--column {
  flex-direction: column; }

.services__paragraph {
  width: 85%; }

.services__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 69%;
  min-height: 900px; }

.services__info--full-width {
  width: 100%; }

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }

.service__item {
  width: 45%;
  padding: 30px;
  margin-bottom: 25px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .service__item:nth-child(even) {
    align-self: flex-end; }
  .service__item:nth-child(odd) {
    align-self: flex-start; }

.service__item--small {
  width: 30%;
  text-align: center; }
  .service__item--small:nth-child(even) {
    align-self: initial; }
  .service__item--small:nth-child(odd) {
    align-self: initial; }

.service__item--small:nth-child(1) {
  align-self: flex-start; }

.service__item--small:nth-child(3) {
  align-self: flex-end; }

.service__item--small:nth-child(4) {
  align-self: flex-start; }

.service__item--small:nth-child(6) {
  align-self: flex-end; }

.service__item--opposite:nth-child(odd) {
  align-self: flex-end; }

.service__item--opposite:nth-child(even) {
  align-self: flex-start; }

.service__transparent-caption {
  font-size: 50px;
  margin-left: -30px;
  padding-bottom: 15px;
  opacity: 0.5;
  color: rgba(155, 155, 155, 0.3); }

.service__readmore {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #329595; }

.service__readmore-wrapper {
  text-align: right; }

.service__item--salesforce {
  width: 37%; }

.service__single-box {
  padding: 10px 0;
  text-align: justify; }

.service__single-box--align {
  text-align: justify; }

.service__position {
  color: #323231;
  font-size: 10px; }

.services--columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column; }

.services__wrapper--columns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap; }

.services__info--large {
  width: 90%;
  margin-top: 20px; }

.service__headline-wrapper {
  width: 100%;
  margin-right: 30px; }

.service__headline-wrapper {
  width: 100%; }

.special {
  background: #329595; }

.line--blue {
  width: 36px;
  height: 1px;
  border: 4px solid #329595;
  margin: 18px 0; }

.service__position--special {
  color: #fff; }

.services__line {
  width: 311px;
  height: 2px;
  border: solid 1px rgba(151, 151, 151, 0.2); }

.services__pagination {
  font-size: 20px;
  font-weight: 700;
  color: rgba(151, 151, 151, 0.2);
  width: 9%; }

.services__offer-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%; }

.services__wrapper--aligned {
  width: 35%;
  text-align: justify; }

.services__wrapper--top {
  position: relative;
  top: 170px; }

.service__item--position:nth-child(even) {
  align-self: initial; }

.service__item--position:nth-child(odd) {
  align-self: initial; }

.service__item--position {
  width: 45%; }
  .service__item--position:nth-child(even) {
    align-self: flex-start; }
  .service__item--position:nth-child(odd) {
    align-self: flex-end; }

.service__single-box--aligned {
  text-align: justify; }

.service__technologies {
  color: #329595;
  font-size: 14px; }

.service__item--open-position {
  background-color: #329595; }

.service__job--open,
.service__job-headline--open {
  color: #fff; }

.service__technologies--color {
  color: #50e3c2; }

.service__single-box--color {
  color: #fff; }

.service__link-wrapper {
  background: url("/src/images/path.png") no-repeat;
  background-position: 55px; }

.service__link {
  color: #329595;
  text-decoration: none; }

.service__link--special {
  color: #50e3c2; }

.service__link-wrapper--bkg {
  background: url("/src/images/Path-lightblue.png") no-repeat;
  background-position: 55px; }

@media (max-width: 576px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
  .services__headline {
    width: 90%;
    text-align: center; }
  .services--background {
    clip-path: none; }
  .services__paragraph {
    width: 100%; }
  .services__wrapper {
    width: 90%;
    text-align: center; }
  .services__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 25px; }
  .service__item {
    width: 90%; }
    .service__item:nth-child(even), .service__item:nth-child(odd) {
      align-self: center; }
  .services__wrapper--columns {
    width: 90%;
    flex-direction: column; }
  .services-container {
    flex-direction: column; }
  .services__wrapper--top {
    top: 0;
    margin-bottom: 30px; } }

@media (min-width: 576px) and (max-width: 720px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
  .services__headline {
    width: 90%;
    text-align: center; }
  .services__paragraph {
    width: 100%; }
  .services__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-top: 30px; }
  .service__item {
    width: 50%; }
    .service__item:nth-child(even), .service__item:nth-child(odd) {
      align-self: center; } }

@media (min-width: 720px) and (max-width: 968px) {
  .service__item {
    width: 48%; } }

.partnership {
  background: rgba(216, 216, 216, 0.2);
  z-index: -99;
  padding-top: 200px; }

.partnership--skew {
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%); }

.partnership__wrapper {
  background: url(../images/Group.png) no-repeat;
  background-position: center;
  background-size: cover; }

.partnership__caption {
  width: 50%; }

.partnership__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }

.partnership__info-box {
  width: 20%; }

.partnership__info-caption {
  font-size: 24px;
  margin: 15px 0; }

.partnership__info-detail {
  background: url("/src/images/path.png") no-repeat;
  background-position: 100px; }

.partnership__info-detail a {
  text-decoration: none;
  color: #329595;
  font-weight: 700;
  font-size: 12px; }

.partnership__info-box--box1 {
  position: relative;
  top: 150px;
  left: 283px; }

.partnership__info-box--box2 {
  position: relative;
  right: 192px;
  top: 97px; }

.partnership__info-box--box3 {
  position: relative;
  left: 320px; }

.partnership__info-box--box4 {
  position: relative;
  right: 170px;
  bottom: 77px; }

.partnership__info-detail--read {
  background-position: 85px; }

@media (max-width: 576px) {
  .partnership--skew {
    clip-path: none; }
  .partnership__wrapper {
    background: none; }
  .partnership__content {
    text-align: center; }
  .partnership__caption {
    width: 100%;
    text-align: center; }
  .partnership__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .partnership__info-box {
    width: 90%; }
  .partnership__info-box--box1,
  .partnership__info-box--box2,
  .partnership__info-box--box3,
  .partnership__info-box--box4 {
    position: initial;
    padding: 20px 0; }
  .partnership__info-detail {
    background-position: 210px; }
  .partnership__info-detail--read {
    background-position: 80px; } }

@media (min-width: 576px) and (max-width: 720px) {
  .partnership--skew {
    clip-path: none; }
  .partnership__wrapper {
    background: none; }
  .partnership__content {
    text-align: center; }
  .partnership__caption {
    width: 100%;
    text-align: center; }
  .partnership__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .partnership__info-box {
    width: 90%; }
  .partnership__info-box--box1,
  .partnership__info-box--box2,
  .partnership__info-box--box3,
  .partnership__info-box--box4 {
    position: initial;
    padding: 25px 0; }
  .partnership__info-detail {
    background-position: 210px; }
  .partnership__info-detail--read {
    background-position: 80px; } }

@media (min-width: 720px) and (max-width: 968px) {
  .partnership--skew {
    clip-path: none; }
  .partnership__wrapper {
    background: none; }
  .partnership__content {
    text-align: center; }
  .partnership__caption {
    width: 100%;
    text-align: center; }
  .partnership__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; }
  .partnership__info-box {
    width: 90%; }
  .partnership__info-box--box1,
  .partnership__info-box--box2,
  .partnership__info-box--box3,
  .partnership__info-box--box4 {
    position: initial;
    padding: 25px 0; }
  .partnership__info-detail {
    background-position: 380px; }
  .partnership__info-detail--read {
    background-position: 80px; } }

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 600px;
  position: relative; }

.about__person {
  font-weight: bold; }

.about__social {
  font-size: 12px;
  color: #329595;
  font-weight: 700; }

.about__caption {
  width: 30%; }

.about__slider {
  width: 60%;
  background-image: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 207px;
  text-align: center; }

.about__select {
  width: 350px;
  height: 20px;
  color: #9b9b9b;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: none; }

.about__select:focus,
.about__select:hover {
  border-bottom: 2px solid #329595; }

.about__select option:hover {
  background-color: #329595; }

.about__slider_item {
  width: 85% !important;
  height: 310px;
  border-radius: 6px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); }

.about__slider_item--large {
  height: 355px; }

.about__slider-img--large {
  width: 100%;
  object-fit: fill; }

.about__slider-content {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  text-align: justify; }

.about__slider-content--small {
  padding: 0;
  align-items: center; }

.slick-slide {
  margin: 0 5px; }

.next {
  bottom: 222px;
  position: absolute;
  left: 126px;
  cursor: pointer; }

.prev {
  position: relative;
  right: 251px;
  bottom: 66px;
  cursor: pointer; }

.prev[aria-disabled=false] {
  content: url("../images/next-reverse.svg"); }

.next.slick-disabled {
  content: url("../images/previous-revrese.svg"); }

@media (max-width: 576px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    min-height: 873px; }
  .about__caption {
    text-align: center;
    width: 100%;
    margin-bottom: 30px; }
  .about__slider {
    width: 100%;
    height: 300px;
    margin-top: 30px; }
  .about__select {
    width: 80%; }
  .next {
    bottom: 285px;
    left: 186px; }
  .prev {
    right: 51px;
    bottom: 38px; } }

@media (min-width: 576px) and (max-width: 720px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    min-height: 873px; }
  .about__caption {
    text-align: center;
    width: 100%;
    margin-bottom: 35px; }
  .about__slider {
    width: 100%;
    height: 300px;
    margin-top: 30px; }
  .about__slider_item {
    width: 55% !important; }
  .next {
    bottom: 285px;
    left: 341px; }
  .prev {
    right: 90px;
    bottom: 38px; } }

@media (min-width: 720px) and (max-width: 968px) {
  .next {
    bottom: 222px;
    left: 250px; }
  .prev {
    right: 89px;
    bottom: 66px; } }

.blog {
  background-color: rgba(216, 216, 216, 0.2);
  padding: 85px; }

.blog--skew {
  padding-top: 100px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%); }

.blog__caption {
  text-align: center; }

.blog__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px; }

.blog__single-post {
  width: 340px;
  height: 488px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px; }

.blog__img {
  object-fit: fill; }

.blog__post-info {
  padding: 15px; }

.blog__case-study-wrap {
  width: 74px;
  height: 21px;
  border-radius: 14px;
  text-align: center;
  background: rgba(50, 149, 149, 0.2); }

.blog__case-study {
  width: 59px;
  height: 20px;
  color: #329595;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase; }

.blog__label-wrap {
  width: 50px;
  height: 21px;
  border-radius: 14px;
  background: rgba(248, 173, 0, 0.2);
  text-align: center; }

.blog__label {
  width: 25px;
  height: 20px;
  color: #f8ad00;
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase; }

.blog__post-caption {
  font-size: 18px;
  margin-top: 10px; }

.blog__caption--small {
  width: 55%; }

.blog__post-date {
  color: #9b9b9b; }

.blog__single-post--large {
  width: 741px;
  height: 259px;
  display: flex; }

.blog__single-post--reverse {
  flex-direction: row-reverse; }

.blog--background {
  background: none; }

.blog__post-date--blue {
  color: #329595; }

.blog__caption--left {
  text-align: left;
  width: 40%; }

.blog__btn {
  text-align: center;
  padding: 20px 0; }

@media (max-width: 576px) {
  .blog {
    padding: 0; }
  .blog__caption {
    margin-top: 40px; }
  .blog__single-post {
    width: 290px;
    height: 480px; }
  .blog__img {
    width: 100%; }
  .blog__single-post--large {
    width: 290px;
    height: 496px;
    flex-direction: column; }
  .blog__caption--small {
    width: 100%; }
  .blog--skew {
    clip-path: none; }
  .blog__caption--left {
    width: 100%;
    text-align: center; } }

@media (min-width: 720px) and (max-width: 968px) {
  .blog__single-post--large {
    width: 290px;
    height: 496px;
    flex-direction: column; }
  .blog__caption--small {
    width: 100%; }
  .blog--skew {
    clip-path: none; } }

.contact {
  background-color: rgba(216, 216, 216, 0.2);
  padding: 70px; }

.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }

.contact__caption {
  font-size: 24px;
  margin-bottom: 15px; }

.contact--background {
  background-color: white; }

.contact__paragraph {
  width: 45%;
  text-align: center; }

.contact__info--blue {
  color: #329595;
  font-weight: 700; }

.line--yellow {
  width: 36px;
  height: 1px;
  border: 4px solid #fec108;
  margin: 18px 0; }

@media (max-width: 576px) {
  .contact {
    padding: 30px; }
  .contact__content {
    text-align: center; }
  .contact__paragraph {
    width: 100%; } }

@media (min-width: 576px) and (max-width: 720px) {
  .contact {
    padding: 40px; }
  .contact__content {
    text-align: center; } }

.headline {
  width: 50%;
  margin: 180px 0; }

.headline__caption {
  color: #329595;
  font-size: 28px;
  line-height: 40px;
  font-weight: 900; }

.headline__main-caption {
  color: #333334;
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 15px; }

.line {
  width: 36px;
  height: 1px;
  border: 4px solid #323231;
  margin: 18px 0; }

.headline__info {
  width: 52%;
  font-weight: 400;
  line-height: 20px; }

.headline__subtitle {
  font-size: 60px;
  color: #333334; }

.headline-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%; }

.headline__special {
  color: #329595;
  font-weight: 900; }

.headline-wrapper--baseline {
  align-items: baseline; }

.img-wrapper {
  width: 50%; }
  .img-wrapper img {
    width: 100%; }

@media (max-width: 576px) {
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    text-align: center; }
  .headline__caption {
    font-size: 20px; }
  .headline__main-caption {
    font-size: 40px; }
  .headline__info {
    width: 90%; }
  .headline-wrapper {
    flex-direction: column; }
  .img-wrapper {
    width: 100%; }
  .headline__subtitle {
    font-size: 40px; } }

@media (min-width: 576px) and (max-width: 720px) {
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    text-align: center; }
  .headline__caption {
    font-size: 30px; }
  .headline__main-caption {
    font-size: 50px; }
  .headline__info {
    width: 90%; }
  .headline-wrapper {
    flex-direction: column; }
  .img-wrapper {
    width: 80%; }
  .headline__subtitle {
    font-size: 40px; } }

@media (min-width: 720px) and (max-width: 968px) {
  .headline {
    width: 100%; }
  .headline-wrapper {
    flex-direction: column; }
  .img-wrapper {
    width: 80%; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fec108;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 150px; }
  .sidenav .sidenav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 371px;
    height: 531px;
    margin: 0 auto;
    padding: 30px; }

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 40px;
  text-decoration: none; }

.sidenav-headline {
  font-size: 18px; }

.side-list {
  list-style: none;
  margin: 15px 0;
  border-left: solid 1px rgba(50, 50, 49, 0.7);
  padding: 0 1rem; }
  .side-list .side-item {
    padding: 7px 0; }

.side-links {
  text-decoration: none;
  color: rgba(50, 50, 49, 0.7); }

#side-current {
  color: #329595; }

.workplace {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 70px 0; }

.workplace__headline {
  width: 32%; }

.workplace__content {
  width: 60%; }

.workplace__office-img1 {
  width: 100%; }

.workplace__offices-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 20px; }

.workplace__office-img,
.workplace__office-image {
  width: 45%;
  margin-right: 10px; }

@media (max-width: 576px) {
  .workplace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column; }
  .workplace__headline {
    width: 100%; }
  .workplace__content {
    width: 100%; }
  .workplace__img {
    width: 100%; } }

.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  padding: 130px 0; }

.form__headline {
  padding: 30px 0;
  text-align: center; }

.form__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }

.form__wrapper {
  width: 100%; }

.form__fields {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap; }

.form__image {
  width: 100%; }
  .form__image img {
    width: 100%; }

.form__inputs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  color: #9b9b9b; }

.form__info {
  margin-top: 17px; }

.form__policy {
  width: 65%; }

.form__policy-info {
  color: #9b9b9b; }

.form__policy-link {
  color: #329595; }

.form__input {
  width: 340px;
  padding: 10px;
  margin: 15px;
  border: solid 1px rgba(151, 151, 151, 0.2);
  border-radius: 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }

.form__input:focus {
  outline: none;
  border: 2px solid #329595; }

.message,
.messageEmail {
  color: red;
  font-size: 14px;
  margin-left: 20px; }

.form__firstname {
  position: relative;
  top: 28px;
  left: 43px;
  font-size: 14px;
  background: #fff;
  color: #9b9b9b; }

.form__message {
  width: 340px;
  margin: 19px;
  padding: 10px 0 80px 0;
  border: solid 1px rgba(151, 151, 151, 0.2);
  border-radius: 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  resize: none; }

.form__message:focus {
  outline: none;
  border: 2px solid #329595; }

#cv {
  display: none; }

.cv {
  background: url("/src/images/upload.svg") no-repeat;
  background-position: 24px;
  width: 340px;
  padding: 10px;
  margin: 15px;
  border: 1px dashed rgba(151, 151, 151, 0.2);
  border-radius: 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }

.cv-label {
  margin-left: 50px;
  font-size: 14px;
  color: #9b9b9b; }

@media (max-width: 576px) {
  .form {
    align-items: center;
    flex-direction: column; }
  .form__fields {
    flex-direction: column; }
  .form__inputs {
    align-items: center; }
  .form__input {
    width: 70%; }
  .form__info {
    margin-top: 17px;
    text-align: center; }
  .cv {
    width: 70%; }
  .form__message {
    width: 70%; }
  .form__image {
    margin-top: 30px;
    width: 80%; } }

@media (min-width: 576px) and (max-width: 720px) {
  .form {
    align-items: center;
    flex-direction: column; }
  .form__fields {
    flex-direction: column; }
  .form__inputs {
    align-items: center; }
  .form__info {
    margin-top: 17px;
    text-align: center; }
  .form__image {
    margin-top: 30px;
    width: 80%; } }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.form-wrapper {
  width: 50%; }

.form__caption {
  color: #329595;
  margin-bottom: 40px; }

.form__request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #fff;
  border-radius: 13px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 32px; }
  .form__request select {
    width: 90%;
    border: none;
    margin: 10px 0;
    border-bottom: solid 0.75px rgba(155, 155, 155, 0.5);
    color: #9b9b9b; }
  .form__request .modal-inputs {
    width: 90%;
    border: none;
    margin: 20px 0;
    outline: none;
    border-bottom: solid 1px rgba(155, 155, 155, 0.5); }
    .form__request .modal-inputs::placeholder {
      color: #9b9b9b; }

.modal-inputs:focus {
  border-color: #329595; }

.warning,
.warningEmail {
  color: red;
  font-size: 13px; }

.form-control {
  width: 90%;
  margin: 15px 0; }

.file-label {
  font-size: 13px;
  color: #323231;
  margin-right: 20px; }

.file-input {
  display: none; }

.btn--larger {
  padding: 6px; }

.policy-wrapper {
  width: 90%;
  margin: 20px 0; }

.blue-btn--position {
  position: relative;
  top: 46px; }

.service__link-wrapper--align {
  background-position: 128px; }

.modal__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }

.modal__location {
  border-top: solid 1px rgba(151, 151, 151, 0.2); }

.modal__location-info {
  text-transform: uppercase;
  font-size: 16px;
  color: #333334;
  font-weight: 700; }

.modal__location-address {
  font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #323231; }

.blue-btn {
  width: 140px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 29px;
  margin-top: 25px;
  background-color: #329595;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: none;
  text-align: center;
  outline: none;
  cursor: pointer; }

p {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 400;
  line-height: 20px; }

h1 {
  font-size: 36px;
  color: #323231;
  font-weight: 900;
  margin: 15px 0; }

h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 0; }

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto; }

#current {
  color: #329595;
  font-weight: 700; }

.report-info {
  font-size: 14px;
  list-style-type: none; }
  .report-info .report-list {
    padding: 7px 0; }
    .report-info .report-list:before {
      content: "\2022";
      color: #fec108;
      font-weight: bold;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-left: -0.7rem; }
