@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// UTILITIES
@import '1-utilities/mixins';
@import '1-utilities/variables';

// COMPONENTS
@import '2-components/header';
@import '2-components/footer';
@import '2-components/services';
@import '2-components/partnership';
@import '2-components/slider';
@import '2-components/blog';
@import '2-components/contact';
@import '2-components/main-headline';
@import '2-components/sidenav';
@import '2-components/about-us';

@include main();

.blue-btn {
    @include blue-button();
}

p {
    font-size: $paragraph_font-size;
    padding: 0.5rem 0;
    font-weight: 400;
    line-height: 20px;
}

h1 {
    @include main-headline();
}

h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding: 1rem 0;
}

.container {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

#current {
    color: $light-blue;
    font-weight: 700;
}

.report-info {
    font-size: 14px;
    list-style-type: none;

    .report-list {
        padding: 0.5rem 0;

        &:before {
            content: "\2022";
            color: $yellow;
            font-weight: bold;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: -0.7rem;
        }
    }
}