@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "variables";
@import "mixins";

@include main();

body {
    overflow-x: hidden;
}


.blue-btn {
    @include blue-button();
}

header {
    width: 100%;
    height: 100vh;
    background: url(../images/Mask.png) no-repeat;
    background-position: 100% 0;

    .header-content {
        @include flex(space-between, center, wrap);
        width: 90%;
        margin: auto;
        padding-top: 2rem;
    }

    nav {
        @include flex(space-between, center, wrap);
        width: 60%;

        ul {
            @include flex(space-between, center, wrap);
            width: 70%;
            list-style: none;

            li a {
                color: $header-font-color;
                text-decoration: none;
                font-weight: 500;
            }
        }

        .btn {
            @include button();
            color: $light-blue;
            background: none;
            border: 2px solid $light-blue;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

            &:hover {
                border: 4px solid $light-blue;
            }
        }
    }

    .headline {
        width: 50%;
        margin: 8rem 4rem;

        h4 {
            color: $light-blue;
            font-size: 28px;
            line-height: 40px;
            font-weight: 900;
        }

        h1 {
            color: $header-font-color;
            font-size: 72px;
            text-transform: uppercase;
            font-weight: 900;
            margin-top: 1rem;
        }

        p {
            width: 52%;
            font-size: 14px;
            font-weight: 400;
            color: $black;
            line-height: 20px;
        }

        #line {
            @include horizontal-line();
            border: 4px solid $black;
            margin: 1rem 0;
        }
    }
}

.offers {
    @include flex(space-around, flex-start, wrap);
    width: 90%;
    margin: 4rem auto;
    color: $black;

    .offers-headline {
        width: 30%;

        h1 {
            font-size: 36px;
            margin-bottom: 1rem;
        }

        p {
            width: 85%;
            font-size: 14px;
        }
    }

    .offers-info {
        @include flex(space-between, center, wrap);
        width: 61%;
        min-height: 900px;

        .offer-item {
            width: 42%;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 6px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

            &:nth-child(even) {
                align-self: flex-end;
            }

            &:nth-child(odd) {
                align-self: flex-start;
            }

            h1 {
                font-size: 50px;
                margin-left: -2rem;
                padding-bottom: 1rem;
                opacity: 0.5;
                color: rgba(155, 155, 155, 0.3);
            }

            h4 {
                font-size: 18px;
                padding: 0.5rem 0;
            }

            p {
                font-size: 14px;
                text-align: center;
                padding: 0.5rem 0;
            }
        }
    }
}


.partnerships {
    background: $primary-background;
    z-index: -99;
    padding-top: 13rem;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    color: $black;

    .skew {
        background: url(../images/Group.png) no-repeat;
        background-position: center;
        background-size: contain;
    }

    .partnership-content {
        width: 90%;
        margin: auto;

        .partnership-caption {
            width: 50%;

            h2 {
                font-size: 36px;
                padding-bottom: 1rem;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .partnership-info {
        @include flex(space-between, center, nowrap);
        flex-direction: column;

        .info-box {
            width: 20%;

            h3 {
                font-size: 24px;
                margin: 1rem 0;
            }

            h4 {
                margin: 1rem 0;
            }

            p {
                margin-bottom: 1rem;
            }

            span {
                color: $light-blue;
                font-weight: 700;
                font-size: 12px;
            }
        }

        .box-1 {
            margin: 10rem 0 0 30rem;
        }

        .box-2 {
            margin-right: 20rem;
        }

        .box-3 {
            margin-left: 32rem;
        }

        .box-4 {
            margin-right: 20rem;
        }
    }



}