@mixin main {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font-family;
        color: $black;
    }
}

@mixin flex($justify-content, $align-items, $wrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}

@mixin button {
    width: 140px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 29px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

@mixin blue-button {
    width: 140px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 29px;
    margin-top: 2rem;
    background-color: $light-blue;
    color: $primary-white;
    font-size: 12px;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;
}

@mixin horizontal-line($color) {
    width: 36px;
    height: 1px;
    border: 4px solid $color;
    margin: 2rem 0;
}

@mixin main-headline {
    font-size: 36px;
    color: $black;
    font-weight: 900;
    margin: 1rem 0;
}

@mixin mobile {
    @media (max-width: $extra_small-mobiles) {
        @content;
    }
}

@mixin mobile-up {
    @media (min-width: $extra_small-mobiles) and (max-width: $s-mobiles) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $s-mobiles) and (max-width: $tablet) {
        @content;
    }
}