// Fonts

$font-family: 'Roboto',
sans-serif;

// Sizes

$paragraph_font-size: 14px;

// Color
$header-font-color: #333334;
$light-blue: #329595;
$black: #323231;
$primary-white: #fff;
$transparent-headline: rgba(155, 155, 155, 0.3);
$primary-background: rgba(216, 216, 216, 0.2);
$yellow: #fec108;
$span-yellow: #f8ad00;
$blog-background: rgba(248, 173, 0, 0.2);
$blue-background: rgba(50, 149, 149, 0.2);
$service-nav: rgba(50, 50, 49, 0.7);
$light-grey: #9b9b9b;